@import './asterix';
@import './header';
@import './lazy';





@media screen and (max-width: 768px) {
    header {
        .container {
            height: 600px;

            .logo {
                img {
                    height: 100px;
                }
            }
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 10px;


        }
    }
}