* {
  margin: 0;
  padding: 0;
  font-family: 'Amaranth', sans-serif;
}

header .container {
  background-image: url(../img/nathan-dumlao-501598-unsplash.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #cadeef;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo img {
  height: 150px;
}

header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

header .center .box {
  background-color: #cadeef;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  text-align: center;
}

header .center .btn-animate {
  -webkit-animation: scale 5s ease infinite;
          animation: scale 5s ease infinite;
  margin: 60px;
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header .center .btn-animate button {
  border: none;
  background-color: transparent;
}

header .center .btn-animate button a {
  color: black;
  cursor: pointer;
}

header .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .footer copyright {
  position: absolute;
  bottom: 8px;
}

img.lazy {
  display: block;
}

@media screen and (max-width: 768px) {
  header .container {
    height: 600px;
  }
  header .container .logo img {
    height: 100px;
  }
  header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
  }
}
/*# sourceMappingURL=style.css.map */