.footer-container {
    height: 350px;
    background-color: #0d0d0d;
    display: flex;
    color: white;
    flex-direction: column;

    .footer-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 120px;
        }

    }

    .info-contact {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 20px;


    }

    .info-copyright {
        display: flex;
        justify-content: center;
        align-content: center;

        copyright {
            margin-top: 20px;
        }
    }
}