.parallax {
  background-image: url(../img/erol-ahmed-TD4XxDXcJtU-unsplash.jpg);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.parallax2 {
  background-image: url(../img/sabri-tuzcu-OVlFXzeAoqQ-unsplash.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

.parallax3 {
  background-image: url(../img/nathan-dumlao-4hjgcuADlL8-unsplash.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}