.sortiments {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px;

    .type {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 5px solid white;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);

        .img1 {
            height: 300px;
        }

        .img2 {
            height: 500px;
        }

        a {
            text-decoration: none;

            button {
                color: black;
                cursor: pointer;
                padding: 10px 20px;
                background-color: white;
                border-radius: 15px;
                border: 2px var(black-foreground-text-sub) solid;
                font-size: 18px;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
                position: relative;
                margin: 10px;


                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: black;

        p {
            margin-top: 40px;
            text-align: center;
            font-size: 24px;
        }
    }

    i.fa.fa-search {
        font-size: 50px;
    }
}